body {
    font: normal 100% Cambria,Georgia,"Times New Roman",Times,serif;
    margin: 0;
    background: #ffffff; 
}

main {
    margin-left: 120px;
    background: #ffffff;
    border-top: 25px solid #00bbff;
}

.sidebar {
    height: 100%;
    width: 120px;
    position: fixed;
    z-index: 1;
    background-color: #00bbff;
    top: 0;
    left: 0;
    overflow-x: hidden;
    padding-top: 20px;
    border-top: 25px solid #00bbff;
}

.sidebar a {
    padding: 6px 8px 6px 16px;
    font-size: 25px;
    color: #111111;
    display: block;
}

.sidebar button {
    margin: auto;
    display: flex;
    justify-content: center;
    font-size: 16px;
    border: none;
    padding: 12px 5px;
    color: #555555;
    background-color: #00bbff;
    border: 2px solid #555555;
    transition-duration: 0.4s;
    cursor: pointer;
    width: 106.5px;
    margin-bottom: 15px;
}

.sidebar button:hover {
    background-color: #555555; 
    color: #ffffff;
}

h1 {
    text-align: center;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #d8e3e6;
    background-color: rgba(0,0,0,0.4)
}

.modalContent {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 20%;
    max-height: calc(100vh - 210px);
    overflow-y: auto;
}

.modalContent h2 {
    text-align: center;
    margin-bottom: 0;
    margin-top: 0;
}

.form-style {
    margin: auto;
    max-width: 400px;
    padding: 20px 12px 10px 20px;
}

.form-style label {
    margin-bottom: 15px;
    padding: 0;
    display: block;
    font-weight: bold;
}

.form-style span {
    width: 100px;
    float: left;
    padding-top: 8px;
    padding-right: 5px;
}

.form-style input[type=text],
.form-style input[type=number],
.form-style select {
	box-sizing: border-box;
	border: 1px solid #C2C2C2;
	box-shadow: 1px 1px 4px #EBEBEB;
	border-radius: 3px;
	padding: 7px;
    outline: none;	
    width: 50%;
}

.form-style input[type=submit] {
    background: #00bbff;
	padding: 8px 15px 8px 15px;
	border: none;
    color: #fff;
}

.form-style h3 {
    text-align: center;
    margin: auto;
}

table{
    margin: auto;
    width: 98.5%;
    border-collapse: collapse;
    border-spacing: 2px;
}

th {
    width: 12em;
    text-align: left;
    padding: .25em .5em;
    background-color: #eee;
    border: 1px solid #bbb;
}

td {
    width: 12em;
    text-align: left;
    padding: .25em .5em;
    border: 1px solid #bbb;
}

input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0; 
}

